<h1>Mot de passe oublié Le Bon Troc</p>
<p>Bonjour {{ user.prenom }}, </br>

En suivant ce lien, vous pourrez définir un nouveau mot de masse avec lequel vous pourrez vous reconnectez : </p>
<p><a href="{{ absolute_url(path('reset_pass', {'token': user.resetToken})) }}">Activer mon compte</a></p>

<p>À très vite sur Le Bon Troc :)</p>